
<div ng-controller="AppController" class="grid-container">
	<div class="card">
			<div class="card-divider">
				<h1>Cryptocurrency Ticker</h1>
			</div>
			<br/>
			<div>
			<div class="card-section">
				<div class="block-list">
					<div>
					<center>
					<ul class="button-group expand small-11">
					<li><a ng-click="setPair(0)">ETH/USD</a></li>
					<li><a ng-click="setPair(1)">XBT/USD</a></li>
					<li><a ng-click="setPair(2)">LTC/USD</a></li>
					<li><a ng-click="setPair(3)">ETH/XBT</a></li>
					<li><a ng-click="setPair(4)">ALL</a></li>
					</ul>
					<br></br>
					<strong>Pair: {{ pair }}</strong>
					<br></br>
					<a class="button" ng-click="setMode(2)">Set Mode</a>
					</center>

					</div>
				</div>
			</div>
			<br/>
	</div>
</div>
